<section *ngIf="devices">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-7">
              <h4 class="card-title ml-1 mb-0">Devices list</h4>
              <div class="row ml-1 mt-0">
                <small class="text-info mr-2">A gateway can have a maximum of 10 devices</small>
                <small class="text-danger" *ngIf="devices.length >= 10">(This gateway has the maximum number of devices)</small>
              </div>
            </div>
            <div class="col-5">
              <div class="d-flex justify-content-end">
                <button [disabled]="devices.length >= 10" class="btn btn-primary" (click)="openDeviceFormModal()">
                  <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
                  Add Device
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col" sortable="uid">UID</th>
              <th scope="col" sortable="vendor">Vendor</th>
              <th scope="col" sortable="date_created">Date created</th>
              <th scope="col" sortable="status">Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let device of devicesPagination">
              <td><p class="mt-2">{{ device.uid }}</p></td>
              <td><p class="mt-2">{{ device.vendor }}</p></td>
              <td><p class="mt-2">{{ device.date_created }}</p></td>
              <td><span class="badge badge-pill mt-2" [ngClass]="device.status == 'Online' ? 'badge-success' : 'badge-danger'">{{ device.status}}</span></td>
              <td>
                <button class="btn btn-sm btn-warning m-1" (click)="openDeviceFormModal(device)"><fa-icon [icon]="faEdit" class="m-2"></fa-icon></button>
                <button class="btn btn-sm btn-danger m-1" (click)="openModal(device)"><fa-icon [icon]="faTrash" class="m-2"></fa-icon></button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
