<div class="modal-header">
  <h4 class="modal-title">Remove Confirmation!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center">
    <p class="text-danger">Are you sure you want to remove this {{name}}?</p>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <button type="button" class="btn btn-light m-2" (click)="activeModal.close('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger m-2" (click)="remove($event)">Remove</button>
  </div>
</div>
